   <li class = "control-group nested-fields">
		<div class="controls">
      		<%= text_field_tag "options[][title]", @option.title, autocomplete: "off", ng_model: "options[$index]", ng_blur: "optionBlur($index, option)" %>
      		<%= link_to_remove_association "remova", f %>
   		</div>
   	</li>