   <li class = "control-group nested-fields">
		<div class="controls">
      		<%= f.text_field  :title, required: true , :id =>'opcoes'%>
      		<%= link_to_remove_association "remova", f %>
   		</div>
   	</li>
