   <li class = "control-group nested-fields">
		<div class="controls">
      		<%= text_field_tag "options[][title]", @option.title%>
      		<%= link_to_remove_association "remova", f %>
   		</div>
   	</li>
   