<%@companies.each do |company|%>

	<section class="container-principal">
		<section class="container">
			<section class="row">
				<div class="col-lg-4"><%=link_to company.name, company %></div>
				<div class="col-lg-4"><%= "%g" % company.rate.round(2) %></div>
				<br />
			</section>
		</section>
	</section>

<%end%>
