<%= render "navbar/navbar" %>

<section class="show-segments">
    <div id="trans">

      <h1>Empresas por Categoria</h1>

      <% @segment.each do |s| %>
        <% total = 0%>
        <% @company.each do |f| %>
          <% if s.id == f.segment_id %>
            <% total = total +1 %>
          <%end%>
        <%end%>

        <% if total > 0 %>
          <h2><span><%=s.name%></span> (<span style="color: #FF4040"><%=total%></span>)</h2>
          <% @company.each do |f| %>
            <% if s.id == f.segment_id %>
              <span class ="link-to-company"><%=link_to f.name, f%></span></br>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
      </br></br></br>  
    </div>
<section>

 
