<%= render "navbar/navbar" %>

<section id="corpo">
  <section id="principal"> 
    <div id="trans">
      <% @segment.each do |s| %>
        <% total = 0%>
        <% @company.each do |f| %>
          <% if s.id == f.segment_id %>
            <% total = total +1 %>
          <%end%>
        <%end%>

        <% if total > 0 %>
          <h2><span><%=s.name%></span><span><%=total%></span></h2>
          <% @company.each do |f| %>
            <% if s.id == f.segment_id %>
              <span> <%=link_to f.name, f%></span></br>
            <%end%>
          <%end%>
        <%end%>
      <%end%>  
    </div>
  </section> 
<section>

 
