<li class = "control-group nested-fields">
		<div class="controls">
			<%= faq.label :Pergunta %>
      <%= faq.text_field :question, :class => "form-large"%>
      <br>
      <%= faq.label :Resposta %>
      <%= faq.text_field :answer, :class => "form-large"%>   		
   	</div>
</li>