/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-BoldItalic.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-ExtraBold.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-Light.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-LightItalic.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-Semibold.ttf') format('ttf'),
         url('/assets/fonts/OpenSans-Regular.ttf') format('ttf');
}

#notice {
	font-size: 20px;
    font-weight: bold;
 	font-family: AvenirNext-Regular;
 	color: 	#FF0000;
 	z-index: 150;
 	position: absolute;
 	left: 40%;
 	top: 10%;
}

#alert {
    font-size: 20px;
    font-weight: bold;
    font-family: AvenirNext-Regular;
    color:  #FF0000;
    z-index: 150;
    position: absolute;
    left: 30%;
    top: 10%;
}
