.comment-section{
    width: 70%;
    position: relative;
    left: 15%;
}

.comments-info{
    width: 100%;
    position: relative;
    text-align: justify;
}

#comment-description{
    width: 100px;
}

#delete-comment{
    float: right;
}

.comment-text-area{
    position: relative;
    width: 90%;
    left: 5%;
    height: 30px;
    padding-left: 8px;
}