#email-update{
	display: none;
}

#telephone-update{
	display: none;
}
#description-update{
	display: none;
}

#image-company-edit{
	position: relative;
	left: 45%;
}

#company-show-update{
	position: relative;
	text-align: center;
	left: 15%;
	width: 70%;
	padding-top: 20px;
	padding-bottom: 20px;

}

#link-company-page{
	position: relative;
	text-align: center;
}
.logo-update{
	position: relative;
	left: 15%;
	width: 70%;
	padding-top: 20px;
	padding-bottom: 20px;

}
#file-field{
	position: relative;
	text-align: center;
	left: 40%;
}