#button-company-denunciation1 {
	position: relative;
	left: 10.5%;
	top: -430px;
	width: 40px;
	height: 35px;	
}

#p-company-denunciation1 {
	color: red;
	position: relative;
	left: 10%;
	top: -430px;
}

#button-company-denunciation2 {
	position: relative;
	left: 10.5%;
	top: -430px;
	width: 40px;
	height: 35px;	
}

#p-company-denunciation2 {
	position: relative;
	left: 8.5%;
	top: -430px;
}

#company-denunciation-count {
	font-size: 14px;
	margin-left: 7%;
}