form.forme-email-show {
  position: relative;
  margin-left: 150px;
  margin-top: -35px;
}

#principal {
  z-index: 1;
  position: absolute;
  width: 800px;
  height: 350px;
  left:50%;
  top:50%;
  margin-left: -400px;
  margin-top:  -175px;
}

table {
  position: absolute;
  top: 80px;
  border-collapse:collapse;
  width: 100%;
  text-align: right;
}
th{
  display: block;
  color:#0B213A;
}

td{
  color: #E3625F;
}

th, td {
    font-size: 26px;
    padding: 8px;
    text-align: left;
    border-bottom: 6px solid #ddd;  
}

td a{
  text-decoration: none;
  color: #0B213A;
  font-weight: bold;
}

tr.editar a {
  opacity: 0.9;
}

tr.no-editar a{
  opacity: 0.15;
}

hr {
  width: 40px;
  margin: auto;
}

.logo {
  width: 10%;
  margin-left: 80px;
  margin-top: 0px;
}

#logo_empresa {
  margin-top: 10px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-left: 90px;
}

#description {
  display: none;
  position: relative;
  width: 80%;
  margin-left: 130px !important;
  margin-top: -10px;
  text-align: justify;
  height: 50%;
}
#description p{
  position: absolute;
  left: 20% !important;
  
}

#avaliacao {
  position: absolute;
  width: 80%;
  margin-left: 130px;
  margin-top: -10px;
  text-align: justify;
  color: #8b8b8b;
  z-index: 1;
}

#forum {
  display: none;
  position: absolute;
  width: 500px;
  margin-left: 60%;
  left: -250px;
  margin-top: 10px;
  text-align: justify;
}


#faq {
  display: none;
  position: absolute;
  width: 80%;
  left: 30%;
  margin-top: -450px;
  text-align: justify;
}
section#enquete{
  display: none;
  position: relative;
  width: 50%;
  margin: -300px auto;
  

}

#list-questions{
  position: absolute;
  margin-top: -110%;
  width: 100%;

}
#list-questions ul li{
  list-style: none;
    border: 2px solid #CCC;
  border-radius: 7px;
  margin-bottom: 5px;
}
.header-body-enquete{
  position: absolute;
}


.btn-group {
  position: relative;
  display: inline-block;
}
.btn-group .btn {
  float: left;
  height: 40px;
  width: 160px;
  line-height: 40px;
  text-align: center;
  -webkit-user-select: none;
  transition: font-size 0.3s ease;
}
.btn-group .btn:active {
  font-size: 0.8em;
}
.btn-group svg {
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.btn-group path {
  fill: none;
  stroke: #e3625f;
  stroke-dasharray: 334.9, 99999;
  transition: stroke-dashoffset 1s cubic-bezier(0, 0.8, 0.2, 1);
  stroke-width: 1;
}
.container-show-company {
  font-family: sans-serif;
  font-weight: 300;
  color: #e3625f;
  text-align: center;
  position: absolute;
  margin-top: 60px;
  width: 100%;
  top: 32%;
  transform: translateY(-50%);
}
@media (max-width: 30em) {
  body {
    zoom: 0.75;
  }
}
@media (max-width: 25em) {
  body {
    zoom: 0.5;
  }
}

#info_empresa {
  margin-top: 140px;
  width: 500px;
  height: 500px;
  margin-left: 20%;
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: #848484;
}

#name_company {
  font-family: AvenirNext-Regular;
  width: 50%;
  font-size: 26px;
  color: #0B213A;
  position: absolute;
  left: 20%;
  top: 11%;
}
#general-rate{
  font-family: AvenirNext-Regular;
  float: left;
  width: 20%;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  left: 70%;
  top: 10%;
  z-index: 20;
}
#value-rate{
  padding-bottom: 5px;
}
#image-general-rate{
  font-family: AvenirNext-Regular;
  float: left;
  width: 14%;
  font-size: 16px;
  text-align: center;
  position: absolute;
  left: 70%;
  top: 17%;
  z-index: 19; 
}
#medal-image{
  position: absolute;
  margin-top: 6px;
  right: 5px;
}

section p {
  margin-top: -300px;
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: #848484;
  text-align: center;

}

#image-verified {
  position: absolute; 
  left: 210px;
  top: 65px;
}

#stars_evaluations {
  margin-left: 400px;
  margin-top: 50px;
}

#stars_evaluations h2{
  color: #848484;
  font-family: AvenirNext-Regular;
  font-size: 19px;  
  text-align: justify;
  margin-left: 40px;
}

#image-company {
  position: absolute; 
  left: 110px;
  top: 80px;
}

#image-segment {
  position: absolute; 
  left: 1000px;
  top: 90px;
}

#name_segment h2 {
  font-family: AvenirNext-Regular;
  font-size: 19px;
  color: #001d89;
  opacity: 80%;
  position: absolute;
  left: 20%;
  top: 28%;
}
.barra{
    top:-300px; 
    width: 150px;
    height: 30px;
    margin-top: 10px; 
    position: relative;
    left: 50%;
    margin-left: -75px;
  }
  .barra .bg{
    float: left;
    height: 30px;
    width: 30%;
    background-color: linear-gradient(to bottom, #fee24f, #f4bb2f);
  }
  .estrelas{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
  }
  .star{
    float: left;
    width: 30px;
    height: 30px; 
    cursor: pointer;
    position: relative;
  }
  .star .starAbsolute{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(starpng.png);
    background-size: cover;
  }
  .star.full{
    background: linear-gradient(to bottom, #fee24f, #f4bb2f);
  }
  .controls{
    color:#000;
  }
  .faq-questions{
    display: none;
    float: center;
  }
.actions{
  text-align: center;
}
.for-questions-faq{
  display: block;
}
#enquete-body{
  position: relative;
  top:300px;
  width: 50%;
  text-align: left;
  left: 30%;
  float: left;
}
.list-forum{
      float: right;
    margin-top: -110%;
    text-align: center;
}
.list-forum ul li{
  border: 2px solid #CCC;
  border-radius: 7px;
  margin-bottom: 5px;


}


