#button-entry{
	text-align: center;
	width: 5%;
	font-size: 16px;
	color: #FFF;
	border: 0;
	height: 40px;
	border-radius: 4px;
	background: vertical-align;
	background-color: #f44336;
}
#button-signup{
	text-align: center;
	width: 10%;
	font-size: 16px;
	color: #FFF;
	border: 0;
	height: 40px;
	border-radius: 4px;
	background: vertical-align;
	background-color: #0e0b8a;
}
.hr{
	width: 20%;
	background-color: #111;
	margin-left: 575px; 
	vertical-align: center;
	color: #111;
	opacity: 0.5;
}
#logo-avalia{
	width: 120%;
}