#button-signup {
	text-align: center;
	width: 10%;
	font-size: 16px;
	color: #FFF;
	border: 0;
	height: 40px;
	border-radius: 4px;
	background: vertical-align;
	background-color: #07213F;
	margin-left: 0px;
}

.hr {
	width: 20%;
	background-color: #111;
	margin-left: 575px; 
	vertical-align: center;
	color: #111;
	opacity: 0.5;
}

#header-enter {
  z-index: 101;
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  margin-left: 50px;
  font-size: 30px;
  color: #07213F;
  font-family: Impact;
}

#header-enter img {
  height: 60px;
  vertical-align: bottom;
}

#section-form h1{
	color: #07213F;
}