#lista_vinculos {
	position: relative;
	margin-top: 10px;
}

.lista-vinculos-atual {
	text-align: center;
}

#body-show-attaches {
	text-align: center;
	position: fixed;
	margin-left: 110px;
	margin-top: -20px;
}