// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
        font-family: calibri;        
    }
    #menu-graficos{
    	margin-bottom: 40px;
    }
#menu-graficos ul {
    	padding:0px;
    	margin:0px;
    	background-color:#EDEDED;
    	list-style:none;
    }
    #menu-graficos ul li { display: inline; }
    #menu-graficos ul li a {
    	padding: 2px 10px;
    	display: inline-block;
     
    	/* visual do link */
    	background-color:#EDEDED;
    	color: #333;
    	text-decoration: none;
    	border-bottom:3px solid #EDEDED;
    }
    #menu-graficos ul li a:hover {
    	background-color:#D6D6D6;
    	color: #6D6D6D;
    	border-bottom:3px solid #EA0000;
    }
    .box {
        margin: 0px auto;
        width: 100%;
    }

    .box-chart .grafico-barras{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
   /*segundo grafico */
    @import url(https://fonts.googleapis.com/css?family=Roboto);
.grafico-barras{
	position: relative;
	left: -10%;
}
.row-aux{
	left: -150px;
	margin-right: 270px;
}
.bar-chart {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.bar-chart > .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-bottom: -45px;
    border-top: 1px solid #000;
}

.bar-chart > .legend > .item {
    position: absolute;
    display: inline-block;
    float: left;
    width: 25%;
    }

.bar-chart > .legend > .item:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    margin-top: -8px;
}
.bar-chart > .legend > .item.text-right:before {
    right: 0;
    left: auto;
}

.bar-chart > .chart {
    position: relative;
    width: 100%;
    }

.bar-chart > .chart > .item {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.bar-chart > .chart > .item > .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4081;
    z-index: 5;
}

.bar-chart > .chart > .item > .bar > .percent {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 12px;
    z-index: 15;
}

.bar-chart > .chart > .item > .bar > .item-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3e50b4;
    z-index: 10;
}

.bar-chart > .chart > .item > .bar > .item-progress > .title {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding-left: 12px;
    letter-spacing: 2px;
    z-index: 15;
}
.pagi-enquete{
    z-index: 120;
}
.form-enquete{
    text-align: center;
    z-index: 120;
    margin-top: 70px;
}
#header-new-enquete{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.input-for-pergunta{
    display: block;
}
#form-options{
    width: 50%;
    text-align: center;
    top: 10px;
    margin: 1px solid #666;
    background: #E4E4E4;
    margin-left: 25%;

}
#form-options a{
    position: relative;
    text-decoration: none;
    color:#000;
    bottom: 5px;

}
#options-questions{
    text-align: center;
    z-index: 120;
    

}
#options-questions ol{
    width: 50%;
    margin-left: 25%;
    border-radius: 7px;
    border:2px solid #CDCDC1;
    background: #E4E4E4;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.controls a{
    color: #c3c3c3;
  font-size: 16px;
  line-height: 30px;
    text-decoration: none;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: capitalize;
}
.controls a:hover {
  color:#FFF;
}
#show-questions{
    width: 50%;
    margin-left: 25%;
    margin-top: 60px;
    text-align: center;
}
#show-questions h1{
    padding-top: 20px;
    text-align: center;
}
#fieldset-options-vote{
    position: relative;
    width: 50%;
    left: 40%;
    display: block;
}
#fieldset-options-vote ul{
    list-style-type: none;
    text-align: left;
}
#show-questions input[type="submit"]{
    width: 80px;
    height: 30px;
    background: #006400;
    border-radius: 7px;
}
.result-questions{
    height: 200px;
    width: 100%;
}
.result-questions h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}
#title-options p{
   font-size: 16px;
   padding-left: 10px;
   margin: 0;
   padding-bottom: 5px;
   padding-top: 0px;
}
.for-questions-title label{
    font-size: 20px;
}
.for-questions-title textarea{
    width: 18em;
    height: 3em;
}
.for-questions-title{
    padding-top: 20px;
}
.actions{
    padding-bottom: 20px;
}
.box-chart, .box-chart-pier{
    height: 400px;
}
canvas#GraficoDonut, .box-chart-pier canvas{
    height: 350px !important;
    width: 700px !important;
}
/* formating pag results */
.card {
    margin-top: 40px;
    background-color: rgba(214, 224, 226, 0.2);
    box-sizing: border-box;
    width: 100%;
    left: 0px;
    right: 0px;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}
.card.hovercard .card-background {
    height: 200px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.box h3{
    text-align: center;
    color: #BBB;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}








