#first_place {
	position: absolute;
	width: 350px;
	height: 250px;
	left: 35%;
	top: 23%;
	text-align: center;
}
#first_place_image{
	width: 200px;
	height: 204.4px;
}
#second_place {
	position: absolute;
	left: 13%;
	top: 33%;
	text-align: center;
}
#second_place_image{
	width: 130px;
	height: 163.67px;
}
#third_place {
	position: absolute;
	right: 8%;
	top: 33%;
	width: 300px;
	height: 250px;
	text-align: center;
}
#third_place_image{
	width: 150px;
	height: 154.8px;
}
#ranking_title {
	position: absolute;
	left: 30%;
	top: 12%;
	text-align: center;
	z-index: 10;
}

#companies_ranking {
	position: absolute;
	left: 37%;
	top: 73%;
}
.corpo-principal-response-time{
	position: absolute;
	top: 500px;
	width: 100%;
	height: 500px;

}

/*
	Parte do julio e gesiel
*/
.container-principal, .container{
	width: 100%;
	height: 100%;
}
.topo-pagina{
	position: absolute;
	top: 60px;
	width: 100%;
	height: 150px;
	background: #FFFFFF;
}

.topo-pagina h1{
	text-align: center;

}

.menu-ranking{
	margin-top: 20px;
	text-align: center;
}

.menu-ranking span{
	color:#e3625f;
	padding-right: 50px;
	padding-left: 50px;
	font-size: 20px;
}
.ranking-nota{
  line-height: 40px;
  -webkit-user-select: none;
  transition: font-size 0.3s ease;
  color:#e3625f;
}
.btn-group .btn:active {
  font-size: 0.8em;
}

.corpo-principal{
	position: absolute;
	top: 250px;
	width: 100%;
	height: 500px;
}
.border-radius{
	height: 50px;
	width: 60%;
	border:2px solid #07213F;
	border-radius: 8px;
	margin-left: 20%;
	margin-top: 10px;
}
.classificacao{
	top: 10px;
}

#logo-categoria{
	margin: auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 2px solid #000000; 
	margin-bottom: 50px;
}

#logo-categoria img{
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	transform: translateY(-50%);

}

.pagination{
	margin-top: 50px;
	margin-left: 25%;
}