.show-segments {
	font-family: AvenirNext-Regular;
	margin-top: 100px;
}

.show-segments h1 {
	color: #07213F;
	text-align: center;
}

.show-segments h2 {
	font-size: 24px;
	color: #001d89;
	margin-left: 120px;
	margin-top: 50px;
}

.link-to-company {
	font-size: 15px;
	color: #848484;
	margin-left: 125px;
}

