* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: f1;
	src:url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
	font-family: f3;
	src:url(fonts/AvenirNextLTPro-BoldCn.otf);
}

@font-face {
	font-family: f2;
	src:url(fonts/AvenirNextLTPro-Demi.otf);
}

#teste {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 665px;	 
}

#gradienteTeste {
	position: fixed;
  	z-index: 100;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	opacity: 0.92;
	background-image: -webkit-linear-gradient(320deg, #07213F 0%, #0E2E51 47%, #06203D 100%);
   	background-image: -o-linear-gradient(320deg, #07213F 0%, #0E2E51 47%, #06203D 100%);
   	background-image: linear-gradient(50deg, #07213F 0%, #0E2E51 47%, #06203D 100%);
}

nav#menu {
	position: relative;
	float:right;
	margin-right: 20px;
	margin-top: -650px;			
	z-index: 100;
}

#principal {
	z-index: 120;
	position: absolute;
	width: 700px;
	height: 350px;
	left:50%;
	top:50%;
	margin-left: -350px;
	margin-top: -100px;
}

#principal h3 {
	font-family: AvenirNext-Regular;
	font-size: 32px;
	text-align: center;
	color: #FFF;
	letter-spacing: 5px;
	opacity: 0.80;
	font-weight: bold;
}

#principal p {
	font-family: AvenirNext-Regular;
	padding-top: 18px;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	padding-bottom: 18px;
	letter-spacing: 1px;
	margin-top: 20px;
}

form.forme-email {
	position: relative;
	margin-left: 150px;
	margin-top: 10px;
}

.input-subscript {
    z-index: 100;
    width: 400px;
    height: 50px;
    color: #FFF;
    font-size: 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 3px solid #E3625f;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
 	letter-spacing: 1px;
	font-family: AvenirNext-Regular;
	padding-left: 20px;

}

.button-subscript {
	position: absolute;
	padding-top: 12px;
	margin-left: -40px;
}

#header-span-index {
  z-index: 101;
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  margin-left: 50px;
  font-size: 30px;
  color: #FFF;
  font-family: Impact;
}

#header-span-index img {
  height: 60px;
  vertical-align: bottom;
}

#menu_show_index {
	position: fixed;
	z-index: 200;
	right: 20px;
	top: 25px;
    float:right;
    color: #CCC;
    font-size: 16px;
}

#menu_show_index ul {
  list-style: none;
}

#menu_show_index ul li {
  margin-top: 9px;
  display: inline-block;
}

#menu_show_index ul li a {
  font-family: AvenirNext-Regular;
  color: #CCC;
  text-decoration: none;
}

#menu_show_index ul li a:hover{
  color: #FF4040;
}

#menu_show_index ul li.pipe{
  color:#FF4040;
}
